*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
    color: #333; 
}

.container{
    margin: 15px;

}

.formbox{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    display: block;
}


h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background:rgb(236, 234, 234);
    border-radius: 6px;
    border: none;
    outline:none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #6884d3;
}

button:active{
    background: #91a6e3;
}

p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #7494ec;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}
